<section>
  <div class="container">
    <div>
      <div class="leftDiv col-s-12 left">
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <h2 class="title text-center">Book Ticket</h2>
          </div>
          <div class="form-group col-s-12 col-m-12 col-l-12">
            <label class="col-s-12 col-m-3 col-l-3 text-left"
              >From <span class="required">*</span></label
            >
            <select class="col-s-12 col-m-9 col-l-9" formControlName="fromStn">
              <option
                *ngFor="let station of stationLists"
                value="{{ station.key }}"
              >
                {{ station.value }}
              </option>
            </select>
            <div
              class="text-right"
              *ngIf="!checkoutForm?.pristine && checkoutForm?.controls?.['fromStn']?.errors?.['required']"
            >
              <label class="required">Required</label>
            </div>
          </div>
          <div class="form-group col-s-12 col-m-12 col-l-12">
            <label class="col-s-12 col-m-3 col-l-3 text-left"
              >To <span class="required">*</span></label
            >
            <select class="col-s-12 col-m-9 col-l-9" formControlName="toStn">
              <option
                *ngFor="let station of stationLists"
                value="{{ station.key }}"
              >
                {{ station.value }}
              </option>
            </select>
            <div
              class="text-right"
              *ngIf="!checkoutForm?.pristine && checkoutForm?.controls?.['toStn']?.errors?.['required']"
            >
              <label class="required">Required</label>
            </div>
          </div>
          <div class="form-group col-s-12 col-m-12 col-l-12">
            <label class="col-s-12 col-m-3 col-l-3 text-left"
              >Date <span class="required">*</span></label
            >
            <input
              class="col-s-12 col-m-9 col-l-9"
              type="date"
              value="{{ travelDate }}"
              formControlName="travelDate"
            />
            <div
              class="text-right"
              *ngIf="!checkoutForm?.pristine && checkoutForm?.controls?.['travelDate']?.errors?.['required']"
            >
              <label class="required">Required</label>
            </div>
          </div>
          <div class="form-group text-right col-s-12 col-m-12 col-l-12">
            <button
              type="submit"
              class="search"
              [class.disabled]="checkoutForm.invalid"
            >
              Search
            </button>
          </div>
          <div class="loading text-center" *ngIf="showLoader">
            Loading Data...
          </div>
        </form>
      </div>
      <div
        class="rightDiv col-s-12 right"
        [ngClass]="{ 'd-flex': results.length > 0 }"
      >
        <div class="col-s-12 col-m-12 col-l-12" *ngIf="results.length > 0; else elseBlock">
          <div *ngFor="let result of results; let i = index" class="resultDiv padding5">
            <div class="trainDetails paddingB15">
              <h2 class="paddingR10">{{ result?.trainName }}</h2>
              <p>Runs On: {{ result?.runsOn }}</p>
            </div>
            <div class="trainTime d-flex justify-c-btwn paddingB15">
              <p class="fromStn">
                <strong>{{ result?.time?.fromTime }}</strong> |
                {{ result?.stn?.fromStn }} | {{ result?.date?.fromDate }}
              </p>
              <p class="duration">
                <strong>{{ result?.duration }}</strong>
              </p>
              <p class="toStn">
                <strong>{{ result?.time?.toTime }}</strong> |
                {{ result?.stn?.toStn }} | {{ result?.date?.toDate }}
              </p>
            </div>
            <div class="coaches d-flex justify-c-btwn paddingB15">
              <div *ngFor="let coaches of result.coaches" (click)="selectCoach(coaches.key, result)" [ngClass]="{'selected': result.selectedCoach === coaches.key}">
                <h4>{{coaches.name}}</h4>
                <h4 class="available" *ngIf="coaches.availableSeats; else coachElse">AVAILABLE-{{coaches.availableSeats}}</h4>
                <ng-template #coachElse>
                  <h4 class="waiting">WL-{{coaches.waitingLists}}</h4>
                </ng-template>
                <p class="price"><strong>Rs.{{coaches.price}}</strong></p>
              </div>
            </div>
            <div *ngIf="coachSelection && selectedIndex === i" class="text-right paddingB10">
              <label class="required">Please select the coach to continue</label>
            </div>
            <div class="book text-right paddingB15">
              <app-book-ticket *ngIf="showBookingForm && selectedIndex === i" [item]="selectedIndex" [currentData]="result" (clsPopUp)=closePopUp($event)></app-book-ticket>
              <button type="button" class="search" (click)="bookTicket(result, i)">Book</button>
            </div>
          </div>
        </div>
        <ng-template #elseBlock>
          <div class="emptyData d-flex">No Data Found</div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
