/* You can add global styles to this file, and also import other style files */
/*=======================
Added for ZOHO Interview
========================*/

/*Resets and overriddes*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style-type: none;
}

/* Main Layout
=============*/
header {
    position: fixed;
    width: 100%;
    height: 44px;
    top: 0;
    background: black;
}

aside {
    position: fixed;
	top: 44px;
	height: 100vh;
    width: 16.66%;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12); 
	background: whitesmoke;
}

section {
    position: fixed;
    top: 44px;
    left: 16.66%;
	height: 100vh;
    width: 83.33%;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

footer {
    position: fixed;
    width: 100%;
    height: 44px;
    bottom: 0;
    background: black;
}

/* Secondary Layout
===================*/
[class*='col-'] {
    width: 100%;
}

/*Mobile Screens*/
@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    section {
        width: 100%;
        left: 0;
    }
}

/*Tablet Screens*/
@media only screen and (min-width: 768px) {
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

/*Desktop Screens*/
@media only screen and (min-width: 992px) {
    .col-l-1 {
        width: 8.33%;
    }
    .col-l-2 {
        width: 16.66%;
    }
    .col-l-3 {
        width: 25%;
    }
    .col-l-4 {
        width: 33.33%;
    }
    .col-l-5 {
        width: 41.66%;
    }
    .col-l-6 {
        width: 50%;
    }
    .col-l-7 {
        width: 58.33%;
    }
    .col-l-8 {
        width: 66.66%;
    }
    .col-l-9 {
        width: 75%;
    }
    .col-l-10 {
        width: 83.33%;
    }
    .col-l-11 {
        width: 91.66%;
    }
    .col-l-12 {
        width: 100%;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

/*Form Elements
==============*/
input {}
label {}
button {}

/*Miscellaneous
===============*/
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}