/* You can add global styles to this file, and also import other style files */
/*=======================
Added for ZOHO Interview
========================*/

/*Resets and overriddes*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style-type: none;
}

/* Link and type
================ */
/* a:hover, a:active, a:visited, a:link {text-decoration: none;} */
a {
    text-decoration: none;
}

/* Secondary Layout
===================*/
.container {
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

/*Mobile Screens*/
@media only screen and (max-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    section {
        width: 100% !important;
        left: 0 !important;
    }
    [class*='col-'] {
        width: 100% !important;
    }
}

/*Tablet Screens*/
@media only screen and (min-width: 768px) {
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

/*Desktop Screens*/
@media only screen and (min-width: 992px) {
    .col-l-1 {
        width: 8.33%;
    }
    .col-l-2 {
        width: 16.66%;
    }
    .col-l-3 {
        width: 25%;
    }
    .col-l-4 {
        width: 33.33%;
    }
    .col-l-5 {
        width: 41.66%;
    }
    .col-l-6 {
        width: 50%;
    }
    .col-l-7 {
        width: 58.33%;
    }
    .col-l-8 {
        width: 66.66%;
    }
    .col-l-9 {
        width: 75%;
    }
    .col-l-10 {
        width: 83.33%;
    }
    .col-l-11 {
        width: 91.66%;
    }
    .col-l-12 {
        width: 100%;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

/*Form Elements
==============*/
input {
    border: 1px solid #3434ad;
    border-radius: 2px;
    padding: 7px;
}
select {
    border: 1px solid #3434ad;
    border-radius: 2px;
    padding: 7px;
}
label {}
button.success {
    background: #54ad54;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button.primary {
    background: #2e89d8;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button.disabled {
    background: #c5a3ac;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button.search {
    background: #cb3256;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/*Padding
=========*/
.padding5 {
    padding: 5px;
}
.padding10 {
    padding: 10px; 
}
.paddingT5 {
    padding-top: 5px;
}
.paddingT10 {
    padding-top: 10px;
}
.paddingR5 {
    padding-right: 5px;
}
.paddingR10 {
    padding-right: 10px;
}
.paddingB5 {
    padding-bottom: 5px;
}
.paddingB10 {
    padding-bottom: 10px;
}
.paddingB15 {
    padding-bottom: 15px;
}
.paddingL5 {
    padding-left: 5px;
}
.paddingL10 {
    padding-left: 10px;
}

/*Miscellaneous
===============*/
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.d-flex {
    display: flex;
}
.justify-c-btwn {
    justify-content: space-between;
}
.required {
    color: red;
    font-size: 14px;
}